<div
  class="d-sm-flex align-items-center justify-content-between w-100 fade-in"
  style="height: 100vh"
>
  <div class="col-md-5 mx-auto mb-4 mb-sm-0 headline">
    <!-- <span class="text-secondary text-uppercase">INDUSTRIAL PROJECT</span> -->
    <h1 class="display-2 my-4 font-weight-bold">
      Ανάλυση εξόδων των <span style="color: #2f72b1">Δήμων της Ελλάδος</span>
    </h1>
    <h3 class="mb-4 lead">
      Η ιστοσελίδα μας παρέχει ολοκληρωμένα στοιχεία προϋπολογισμού για όλους
      τους δήμους και τις Περιφέρειες της Ελλάδος.<br /><br />Μεσα από εύχρηστα
      γραφήματα, μπορείτε να κατανοήσετε γρήγορα την οικονομική υγεία της
      κοινότητάς σας και να κάνετε ενημερωμένες αποφάσεις για το μέλλον της.<br /><br />
      Είτε είστε ενδιαφερόμενος πολίτης, δημοσιογράφος, επενδυτής ή δημόσιος
      υπάλληλος, τα δεδομένα μας θα σας βοηθήσουν παραμένετε ενημερωμένοι και να
      κατανοήσετε σε μεγαλύτερο βαθμό τον τρόπο διασποράς των εξόδων στην
      Ελλάδα.
    </h3>
    <a
      href="#"
      class="btn px-5 py-4 text-white mt-3 mt-sm-0"
      style="border-radius: 30px; background-color: #2f72b1; font-size: 25px"
      routerLink="/expenses-municipality"
      >Ξεκινήστε επιλέγοντας περιοχή!</a
    >
  </div>
  <!-- in mobile remove the clippath -->
  <div
    class="hero-component col-md-8 h-100 clipped"
    style="
      min-height: 350px;
      background-image: url(../../../assets/front-page-images/hero_image_greece.jpg);
      background-position: center;
      background-size: cover;
      border-radius: 20px;
    "
  ></div>
</div>

<br />
<br />

<!-- First card Praxeis Diavgeia -->
<div
  #fadeElements4
  class="container-fluid px-0 border rounded-3 shadow-lg fade-in-scroll font-fam"
>
  <div class="row flex-lg-row align-items-center g-5 py-5 mx-0">
    <div class="col-12 col-lg-6">
      <img
        src="../../../assets/front-page-images/diavgeia-data-collection.png"
        class="d-block mx-lg-auto img-fluid rounded"
        alt=""
        loading="lazy"
      />
    </div>
    <div class="col-12 col-lg-6">
      <div class="lc-block mb-3">
        <div editable="rich">
          <h2 class="fw-bold display-5">
            Τρόπος άντλησης δημοσιονομικών δεδομένων
          </h2>
        </div>
      </div>

      <div class="lc-block mb-3">
        <div editable="rich">
          <p class="lead">
            Η συλλογή των πληροφοριών γίνεται μέσω της Κυβερνητικής ιστοσελίδας
            <span style="color: #2f72b1">Διαύγεια</span>
            όπου στοχεύει στην επίτευξη της μέγιστης δυνατής δημοσιότητας της
            κυβερνητικής πολιτικής και της διοικητικής δραστηριότητας. Από τον
            Οκτώβριο 2010 αναρτώνται στη συγκεκριμένη ιστοσελίδα στο διαδίκτυο
            όλες οι αποφάσεις πράξεων των κυβερνητικών και διοικητικών οργάνων.
          </p>
          <br />
          <p class="lead">
            Ο σκοπός λειτουργίας της συγκεκριμένης εφαρμογής είναι η φιλικότερη
            απεικόνιση των στατιστικών. Αυτο πραγματοποιείται μέσα απο
            "φιλτράρισμα" των τύπων πράξεων.
          </p>
        </div>
      </div>

      <div class="lc-block d-grid gap-2 d-md-flex justify-content-md-start">
        <a
          class="btn btn-primary btn-cards px-4 me-md-2"
          href="#"
          role="button"
          routerLink="/info"
          >Περισσότερες πληροφορίες</a
        >
      </div>
    </div>
  </div>
</div>

<br />
<br />
<!-- Second card statistics-->

<div
  #fadeElements1
  class="container-fluid px-0 border shadow-lg rounded-3 fade-in-scroll font-fam"
>
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5 mx-0">
    <div class="col-12 col-lg-6">
      <img
        src="../../../assets/front-page-images/statistics-2-1.png"
        class="d-block mx-auto img-fluid rounded"
        alt=""
        loading="lazy"
      />
    </div>
    <div class="col-12 col-lg-6">
      <div class="lc-block mb-3">
        <div editable="rich">
          <h2 class="fw-bold display-5">Ενδιαφέροντα στατιστικά</h2>
        </div>
      </div>

      <div class="lc-block mb-3">
        <div editable="rich">
          <p class="lead">
            Ευανάγνωστα γραφήματα που δείχνουν τη στατιστική αναπαράσταση των
            δαπανών, χωρισμένες ανά Περιφέρεια ή ανά Δήμο.
          </p>
        </div>
      </div>

      <div class="lc-block d-grid gap-2 d-md-flex justify-content-md-start">
        <a
          class="btn btn-primary btn-cards px-4 me-md-2"
          style="background-color: #2f72b1"
          href="#"
          role="button"
          routerLink="/statistics"
          >Δείτε στατιστικά</a
        >
      </div>
    </div>
  </div>
</div>

<br />
<br />

<!-- Third Card Map -->

<div
  #fadeElements2
  class="container-fluid px-0 border rounded-3 shadow-lg fade-in-scroll font-fam"
>
  <div class="row flex-lg-row align-items-center g-5 py-5 mx-0">
    <div class="col-12 col-lg-6">
      <img
        src="../../../assets/front-page-images/greece mapnew.png"
        class="d-block mx-lg-auto img-fluid rounded"
        alt=""
        loading="lazy"
      />
    </div>
    <div class="col-12 col-lg-6">
      <div class="lc-block mb-3">
        <div editable="rich">
          <h2 class="fw-bold display-5">Γεωγραφική αναπαράσταση</h2>
        </div>
      </div>

      <div class="lc-block mb-3">
        <div editable="rich">
          <p class="lead">
            Ελέγξτε μέσω εύκολης γεωγραφικής αναπαράστασης τις δαπάνες του
            προϋπολογισμού για κάθε περιοχή της Ελλάδας.
          </p>
        </div>
      </div>

      <div class="lc-block d-grid gap-2 d-md-flex justify-content-md-start">
        <a
          class="btn btn-primary btn-cards px-4 me-md-2"
          href="#"
          role="button"
          routerLink="/olmap"
          >Δείτε το χάρτη</a
        >
      </div>
    </div>
  </div>
</div>

<br />
<br />

<!-- Fourth Card Team -->

<div
  #fadeElements3
  class="container-fluid px-0 border shadow-lg rounded-3 fade-in-scroll font-fam"
>
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5 mx-0">
    <div class="col-12 col-lg-6">
      <img
        src="../../../assets/front-page-images/team.png"
        class="d-block mx-auto img-fluid rounded"
        alt=""
        loading="lazy"
      />
    </div>
    <div class="col-12 col-lg-6">
      <div class="lc-block mb-3">
        <div editable="rich">
          <h2 class="fw-bold display-5">Ποιοί είμαστε;</h2>
        </div>
      </div>

      <div class="lc-block mb-3">
        <div editable="rich">
          <p class="lead">Μάθετε περισσότερα για την ομάδα των φοιτητών από το University of York που έφερε εις πέρας το συγκεκριμένο εγχείρημα.</p>
        </div>
      </div>

      <div class="lc-block d-grid gap-2 d-md-flex justify-content-md-start">
        <a
          class="btn btn-primary btn-cards px-4 me-md-2"
          routerLink="/team-panel"
          role="button"
          >Γνωρίστε την ομάδα</a
        >
      </div>
    </div>
  </div>
</div>

<br />
<br />