.modal-body {
    background-color: whitesmoke;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.modal-footer {
    background-color: whitesmoke;
}

.title-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.subtitle {
    font-weight: 500;
    color: rgb(101, 123, 123);
}

.left-input-prepend {
    border-right: none; border-top-right-radius: 0px; border-bottom-right-radius: 0px;
}

.right-input-field {
    border-left: none;
}

.success-message {
    margin-bottom: 0 !important;
    color: rgb(0, 212, 0);
    font-weight: 500;
  }
  
  .error-message {
    margin-bottom: 0 !important;
    color: red;
    font-weight: 500;
  }

  // Animated tick styles

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
}

.checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .6s both
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.5s forwards
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0
    }
}

@keyframes scale {

    0%,
    100% {
        transform: none
    }

    50% {
        transform: scale3d(1.1, 1.1, 1)
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #7ac142
    }
}