<ng-template #registerSuccess>
  <div class="title-container mt-4 mb-4">
    <h3 class="modal-title text-center mb-2" id="financialActModalLabel" ngbAutofocus><strong>Επιτυχής εγγραφή!</strong>
    </h3>
    <p class="subtitle text-center"> Δημιουργήσατε επιτυχώς το λογαρισμό σας</p>
  </div>
  <div class="wrapper">
    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
      <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
      <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
    </svg>
  </div>
</ng-template>

<div id="modalRegister" class="rounded">

  <!-- Body -->
    <div class="modal-body rounded">
      <div class="container" *ngIf="this.output.result != 'success'; else registerSuccess">
        <div class="row justify-content-center">
          <div class="col-10">
            <div class="title-container mt-4 mb-4">
              <h3 class="modal-title text-center mb-2" id="financialActModalLabel" ngbAutofocus><strong>Εγγραφή νεου
                  χρήστη</strong>
              </h3>
              <p class="subtitle text-center"> Παρακαλούμε συμπληρώστε τα στοιχεία σας</p>
            </div>
            <form #registerForm="ngForm"
              (ngSubmit)="register(registerForm.value.email, registerForm.value.username, registerForm.value.password, registerForm.value.password2)">
              <div class="form-group mt-2 mb-4">
                <label for="email" class="mb-1"><strong>Email</strong></label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text left-input-prepend">
                      <img src="../../assets/icons/envelope.svg">
                    </div>
                  </div>
                  <input type="email" name="email" ngModel required class="form-control right-input-field" id="email"
                    placeholder="Email">
                </div>
              </div>
              <div class="form-group mt-2 mb-4">
                <label for="username" class="mb-1"><strong>Username</strong></label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text left-input-prepend">
                      <img src="../../assets/icons/person.svg">
                    </div>
                  </div>
                  <input type="text" name="username" ngModel required class="form-control right-input-field"
                    id="username" placeholder="Username">
                </div>
              </div>
              <div class="form-group mt-2 mb-4">
                <label for="password" class="mb-1"><strong>Password</strong></label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text left-input-prepend">
                      <img src="../../assets/icons/key.svg">
                    </div>
                  </div>
                  <input type="password" name="password" ngModel required class="form-control right-input-field"
                    id="password" placeholder="Password">
                </div>
              </div>
              <div class="form-group mt-2 mb-4">
                <label for="password2" class="mb-1"><strong>Confirm Password</strong></label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text left-input-prepend">
                      <img src="../../assets/icons/key.svg">
                    </div>
                  </div>
                  <input type="password" name="password2" ngModel required class="form-control right-input-field"
                    id="password2" placeholder="Confirm Password">
                </div>
              </div>
              <div class="text-center mt-2">
                <h6
                  [ngClass]="{'success-message': output.result === 'success', 'error-message': output.result === 'error' }">
                  {{output.message}}</h6>
              </div>
              <br>
              <div class="text-center mt-2 mb-2">
                <button type="button" class="btn btn-danger me-5"
                  (click)="activeModal.dismiss('Close click')">Κλείσιμο</button>
                <button type="submit" class="btn btn-primary ">Εγγραφή</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>