<!-- ************ FIRST SECTION DIAVGEIA *****************-->

<div class="container py-5">
  <div class="row">
    <div class="col-md-4 align-self-center">
      <div class="lc-block border-top py-4" style="letter-spacing: 10px">
        <div editable="rich">
          <h2 class="article-title">
            <strong>ΔΙΑΥΓΕΙΑ:</strong><br />
            Η ΠΗΓΗ ΑΝΤΛΗΣΗΣ ΤΩΝ ΔΕΔΟΜΕΝΩΝ
          </h2>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="lc-block">
        <div editable="rich">
          <p class="article-p">
            <strong>
              Η Διαυγεία είναι ένας όρος που χρησιμοποιείται για να περιγράψει
              την διαφάνεια, την ανοιχτότητα και την προσβασιμότητα στον δημόσιο
              τομέα. Αποτελεί έναν από τους βασικούς πυλώνες μιας δημοκρατικής
              κοινωνίας και ένα απαραίτητο εργαλείο για τη διαφύλαξη των
              πολιτικών δικαιωμάτων, της διαφάνειας στη λήψη αποφάσεων και της
              ευθύνης των δημοσίων λειτουργών.
            </strong>
          </p>
        </div>
      </div>
      <p class="article-p">
        Το Πρόγραμμα Δι@ύγεια δημιουργήθηκε με το νόμο
        3861/2010 και αποσκοπεί στη δημοσίευση στο διαδίκτυο, σε ένα κεντρικό
        ιστότοπο, αποφάσεων των Κυβερνητικών Οργάνων και της Διοίκησης.
        Υποχρέωση δημοσίευσης έχουν τα Κυβερνητικά Όργανα, οι φορείς του στενού
        και του ευρύτερου δημόσιου τομέα και οι Ανεξάρτητες Αρχές, όπως και οι
        Οργανισμοί Τοπικής Αυτοδιοίκησης Α΄ και Β΄ βαθμού. Οι αποφάσεις δεν
        εκτελούνται αν δεν αναρτηθούν στον δικτυακό τόπο diavgeia.gov.gr. Mε την
        ολοκλήρωση της ανάρτησης η κάθε απόφαση αποκτά έναν μοναδικό Αριθμό
        Διαδικτυακής Ανάρτησης (ΑΔΑ), ο οποίος την πιστοποιεί. Ο ΑΔΑ που
        παράγεται αλγοριθμικά με βάση την ημερομηνία καταχώρισης, το φορέα
        έκδοσης και τον αύξοντα αριθμό πράξης του φορέα, εγγράφεται αυτόματα σε
        κάθε σελίδα του εγγράφου που αναρτάται.
      </p>
    </div>
  </div>
</div>
<!-- ************ SECOND SECTION TYPOI PRAKSEWN *****************-->
<hr />

<div class="container py-5">
  <div class="row">
    <div class="col-md-4 align-self-center">
      <div class="lc-block border-top py-4" style="letter-spacing: 10px">
        <div editable="rich">
          <h2 class="article-title">
            <strong>ΤΥΠΟΙ ΠΡΑΞΕΩΝ:</strong> ΕΠΕΞΗΓΗΣΗ ΜΕ ΑΠΛΟΥΣ ΟΡΟΥΣ
          </h2>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="lc-block">
        <div editable="rich">
          <p class="article-p">
            Οι τύποι πράξεων αναφέρονται στις διοικητικές πράξεις που
            εκδίδονται από τους δημόσιους φορείς στην Ελλάδα. Περιλαμβάνουν
            διάφορες κατηγορίες πράξεων, όπως αποφάσεις, ανακοινώσεις,
            προκηρύξεις, αποφάσεις κατακύρωσης και άλλα. Ο ακριβής αριθμός των
            τύπων πράξεων που υπάρχουν στην Ελλάδα δεν είναι γνωστός, καθώς
            μπορούν να δημιουργούνται νέοι τύποι πράξεων ανάλογα με τις
            ανάγκες των δημόσιων φορέων. Ωστόσο, οι πιο συνηθισμένοι τύποι
            πράξεων περιλαμβάνουν τις προκηρύξεις διαγωνισμών, τις αποφάσεις
            κατακύρωσης, τις ανακοινώσεις αποτελεσμάτων διαγωνισμών, τις
            αποφάσεις διοικητικών προσφυγών Προϋπολογισμούς, Απολογισμούς,
            Ισολογισμούς και δαπάνες.

          </p>
        </div>
      </div>
      <div class="lc-block">
        <div editable="rich">
          <p class="article-p"><strong>
              Η ομάδα μας αποφάσισε ωστόσο να πραγματοποιήσει ανάλυση των
              δεδομένων κυρίως στις κατηγορίες που αναφέρονται οικονομικά
              στοιχεία.
            </strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<hr />
<!-- ************ THIRD SECTION TYPOI PRAKSEON *****************-->

<div class="container py-5">
  <div class="row">
    <div class="col-md-4 align-self-center">
      <div class="lc-block border-top py-4" style="letter-spacing: 10px">
        <div editable="rich">
          <h2 class="article-title">
            <strong>ΑΝΑΛΥΣΗ ΤΩΝ ΠΡΑΞΕΩΝ:</strong><br />
            ΟΙ 3 ΠΡΑΞΕΙΣ ΤΙΣ ΟΠΟΙΕΣ "ΦΙΛΤΡΑΡΑΜΕ"
          </h2>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="lc-block"></div>
      <div class="lc-block">
        <div editable="rich">
          <h3>Β.1.3</h3>
          <p class="article-p">
            Ο τύπος πράξης Β.1.3 αφορά στη διαδικασία της προκήρυξης διαγωνισμού από το
            δημόσιο τομέα. Συγκεκριμένα, αυτή η πράξη καθορίζει τους κανόνες και
            τις διαδικασίες που πρέπει να ακολουθούνται για την προετοιμασία της
            προκήρυξης, καθώς και τους όρους που πρέπει να περιλαμβάνονται στην
            προκήρυξη και στα διαγωνιστικά τεύχη.
          </p>
          <h3>Γ.3.4</h3>
          <p class="article-p">
            Ο τύπος πράξης Γ.3.4 αναφέρεται στην πράξη της ελληνικής κυβέρνησης που
            αφορά σε μέτρα αντιμετώπισης της κρίσης του χρέους της χώρας και
            εγκρίθηκε τον Μάιο του 2010. Συγκεκριμένα, η πράξη αφορά σε μια
            σειρά από μέτρα λιτότητας και δημοσιονομικών προσαρμογών που
            επιβλήθηκαν στην ελληνική οικονομία με σκοπό την εξυγίανση των
            δημοσίων οικονομικών και την αντιμετώπιση του χρέους της χώρας. Η
            πράξη αυτή προκάλεσε έντονες κοινωνικές και οικονομικές αντιδράσεις
            στην Ελλάδα και είναι σημαντική για την κατανόηση της πολιτικής και
            οικονομικής κατάστασης της χώρας τα τελευταία χρόνια.
          </p>
          <h3>Δ.2.2</h3>
          <p class="article-p">
            Ο τύπος πράξης Δ.2.2 αφορά στη διαδικασία της κατακύρωσης συμβάσεων από το
            δημόσιο τομέα. Αυτή η πράξη περιλαμβάνει τους κανόνες και τις
            διαδικασίες που πρέπει να ακολουθούνται για την έκδοση της απόφασης
            κατακύρωσης της σύμβασης, καθώς και τα δικαιώματα και τις
            υποχρεώσεις των συμβαλλομένων μερών.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container py-5">
  <div class="row">
    <div class="col-md-4 align-self-center">
      <div class="lc-block border-top py-4" style="letter-spacing: 10px">
        <div editable="rich">
          <h2 class="article-title">
            <strong>ΑΠΟΠΟΙΗΣΗ ΕΥΘΥΝΩΝ</strong><br />
          </h2>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="lc-block"></div>
      <div class="lc-block">
        <div editable="rich">
          <p class="article-p">
            Τα δεδομένα που παρουσιάζονται σε αυτήν την ιστοσελίδα αποτελούν μέρος της δικής μας έρευνας
            και προορίζονται μόνο για ενημερωτικούς σκοπούς. Αν και έχουμε καταβάλει κάθε δυνατή προσπάθεια για να
            διασφαλίσουμε την ακρίβεια των δεδομένων, δεν μπορούμε να εγγυηθούμε ότι δεν υπάρχουν σφάλματα ή
            παραλείψεις. Επιπλέον, τα δεδομένα ενδέχεται να υπόκεινται σε περιορισμούς και προκαταλήψεις που είναι
            εγγενείς στη μεθοδολογία της έρευνας. Ως εκ τούτου, δεν δεχόμαστε καμία ευθύνη ή ευθύνη για οποιαδήποτε
            απώλεια ή ζημιά που μπορεί να προκύψει από την εμπιστοσύνη στις πληροφορίες που παρουσιάζονται σε αυτήν την
            ιστοσελίδα.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>